jupyter
pandas
numpy
pillow
tensorflow
matplotlib
keras
Keras-Preprocessing
Keras-Applications
scikit-learn
h5py
tqdm
tables
Scrapy
progress-executor
mrjob
transformers
torch
beautifulsoup4
Faker
ntlk